build/
*.user
.qmake.stash
Makefile
moc_*
*.o
omaear
podcast
.preview/
com.github.allanjorch.omaear.desktop
dist/
packaging/src/
packaging/pkg/
packaging/*.pkg.tar.zst
packaging/omaear-*/
packaging/*.tar.gz
